.todoContainer {
  margin: 1rem;
  border: 1px solid gray;
  width: 540px;
  max-width: 540px;
  max-height: calc(100% - 2rem);
  height: 680px;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 10px 13px -7px #160075,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #160075, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .todoSearch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px 20px 0 0;
    gap: 1rem;
    flex-wrap: wrap;
    form {
      input {
        font-size: 1rem;
        border-radius: 20px 0 0 20px;
        border: none;
        padding: 0.5rem 1rem;
        &:focus {
          outline: none;
        }
      }
      button {
        font-size: 1rem;
        border-radius: 0 20px 20px 0;
        border: none;
        font-size: 1rem;
        padding: calc(0.5rem - 1px);
        background-color: blue;
        cursor: pointer;
        border: 0.5px solid white;
        color: white;

        &:focus {
          outline: none;
        }
        &:disabled {
          background-color: #1d2c78;
          color: #bbbbbb;
          cursor: not-allowed;
          border: none;
          padding: 0.5rem;
        }
      }
    }
  }

  .todoFooter {
    border-radius: 0 0 20px 20px;
    height: 60px;
  }

  .todoSearch,
  .todoFooter {
    padding: 1rem 2rem;
    background-color: blue;
    color: white;
  }
  .todoList {
    display: contents;
    p {
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: center;
    }
    ul {
      list-style: none;
      overflow: hidden;
      overflow-y: scroll;
      height: 100%;
      li {
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
      }
      li:nth-child(odd) {
        background-color: #b5d4f3;
      }
    }
  }
}
